body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
}

#fetchDataButton{
    padding: 1rem 2rem;
    border: none;
    outline: 0;
    background-color: rgb(217, 232, 244);
    border-radius: .5rem;
    color: rgb(10, 84, 232);
    font-size: 1.5rem;
    font-weight: 600;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000;
    margin-bottom: 1rem;
}

caption {
    font-size: 2rem;
    color: #000;
    font-weight: 600;
}

th,
td {
    width: auto;
    text-align: left;
    font-size: 1.5rem;
    padding: 1.5rem;
    border: 2px solid #000;
}


thead,
tr {
    border-bottom: 2px solid #000;
}

.student-name {
    display: flex;
    align-items: center;
    border: none;
}

.student-image {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    /* background-color: blue; */
    margin-right: 1rem;
}

.sort-btns{
    width: auto;
    
}